.container{
  max-width: 75rem; 
  margin: 0 auto; 
  padding-left: 1.25rem;
  padding-right: 1.25rem;
} 

.py {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}

.px {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
} 

.mt{ 
   margin-top: 1.875rem; 
}  

.card{ 
  width: 100%;   
  max-width: 18rem; 
  height: 150px; 
  background-color:hsl(226, 25%, 17%); 
  border-radius: 20px;  
  box-shadow: 1px 1px hsl(226, 11%, 37%) ; 
  outline: 1px solid red;

}

@media (max-width:400px){  
  .container{  
    padding-right: 0;  
  padding-left: 0; 
} 

body{ 
  padding: 0 1.5rem;
}
}



